################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0/x64
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0/x86
*.pdb
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0/ScanUtilityExample_CommandLineNet9_0.deps.json
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0/ScanUtilityExample_CommandLineNet9_0.exe
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0/ScanUtilityExample_CommandLineNet9_0.runtimeconfig.json
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.Core.xml
/ScanUtilityExample_CommandLineNet9_0/obj
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/.vs
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45.xml
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/obj
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0/ScanUtilityExample_CommandLineNet9_0.dll
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.Core.dll
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45.dll
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/bin/Debug/x64
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/bin/Debug/x86
*.user
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0/bin/Debug/net9.0/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.Core.deps.json
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0/bin/Debug/net9.0/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.Core.dll
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0/bin/Debug/net9.0/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.Core.xml
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0/bin/Debug/net9.0/x64
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0/bin/Debug/net9.0/x86
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0/obj
